
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
   
}

.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin:auto;
}


.navbar{
    position :fixed;
    color: black;
    width:100%;
    padding: 10px 0;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    z-index: 1;
}
.navbar-brand{
  
   
    border :1px solid rgb(189, 6, 6);
    border-radius:4px;
    padding:3px;
    color:yellowgreen;
    animation: name infinite 4s;
    content: "NARENDRA";
}

@keyframes name{
 
     10%{
       content:"N";
     }
     20%{
        content:"NA";  
     }
     30%{
        content:"NAR";  
     }
     40%{
        content:"NARE";  
     }
     50%{
        content:"NAREN";  
     }
     60%{
        content:"NAREND";  
     }
     70%{
        content:"NARENDR";  
     }
     80%{
        content:"NARENDRA";  
     }


}



.nav-item:hover{
    
  font-size:large;
  font-weight: 600;
 
}



/* home section*/



.home{
    display:flex;
    background-color: rgb(10, 10, 10);
    width: auto;
    height: 100vh;
    color: #fff;
    min-height: 500xpx;
    font-family: 'Ubuntu',sans-serif;
   
}


.home .max-width{
    width:auto;
    width: 100%;
    margin: auto 0 auto 40px;
}


.home-content .text-1{
    font-size:  27px;
}
.home-content .text-2{
    font-size:  75px;
    font-weight: 600;
    margin-left: -3px;
}
.home-content .text-3{
    font-size:  40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: red;
    font-weight: 500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.script:before{
    
    animation: animate infinite 4s;
    content: ' Developer';
}

@keyframes animate{
    25%{
        content: ' Speed Cuber';
    }

    50%{
        content : ' Programmer';
    }
 
    75%{
        content:" ML Ethusiastic";
    }


}

.container-fluid .image{
    
    float: right;
    padding-left:-90px;
    width: 400px;
    padding-top: -50px;
   
}   





/*responsive media query*/

@media(max-width: 991px){
    .max-width{     
        padding:0 40px;
    }

    .image{
     image-rendering: optimizeQuality;
    }
    .col{
        width:100%;
        padding-top: 50px;
        display:flex;
        align-items: center;
        justify-content: center;
        padding-right: 10%;
    }
}


/*about section*/

section{
    padding: 100px 0;
}

.about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(10, 10, 10);
    width:auto; 
    height: auto;
}



.about .max-width .title{
    text-align: right;
    font-size: 40px;
    color: #fff;
    font-weight:  600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



 
.about .max-width{
    
    height: 700px;
    width:40%;
    float:right;
    padding-top: 40px;
    color:#fff;
   
}
.about .aboutme{
    
  padding-top:200px;
  font-size: 20px;
  width: 100%;
  height: 600px;
  color :white;
  text-align: center;
  background-image: url("img_about2.png");
  background-repeat: no-repeat;
  background-position: 45%;
 
}





/*skiils section*/

.skills{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(-45deg,#5f5957,#583f48,#393f37,#293532);
    height: auto;
}

.skills .max-width{
   
    box-sizing: border-box;
}

 .title{
    text-align: center;
    color: #fff;
}

.container{
   
    align-items: center;
   
}


.col{
    color: white;
    border-radius: 4px;
    text-align: center;
    font-size: larger;
    justify-content: center;
    justify-items: center;
    height: fit-content;
}
.row{
    width:100%;
}

/*project section*/

.projects{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("project_background.gif");
    background-size: cover;
    
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner { 
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
     -webkit-backface-visibility: hidden; /* Safari */
     backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    border:5px solid rgba(143, 140, 140, 0.308);
    border-radius: 10px;
    width:fit-content;
    height: fit-content;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border:5px solid white;
    border-radius: 10px;
  }

  .projects .p-content{
        align-items: center;
        align-content: center;
        padding-left:100px;   
        padding-top: 40px; 
        place-items: flex;   
 }

/*contacts section*/

#contacts{
    margin: 0%;
    padding: 3%;
    height: auto;
    text-align: center; 
    background-color: black;
    color:white;

}

